@media  screen and (max-width:991px) {
    
    .login-form{
        flex-direction: column-reverse;
    }
    .right_img{
        text-align: center;
    }
    .right_img img{
        width: 200px;
    }
	.right_img h2 {
		margin: 12px 0;
	}
}

@media screen and (max-width: 768px){
	
	.form{
		width: 90%;
		padding: 60px 50px;
	}

	.login-logo h1 {
		font-size: 30px;
	}
	.form__title {
		margin: 10px 0;
	}
}


@media screen and (max-width: 576px){
	
	.form{
		padding: 40px 30px;
		width: 95%;
	}
	.login-logo img{
		width: 128px;
	}
}