.header-section{
    display: block;
    position: relative;
}
.header-section img{
    width: 40px;
    cursor: pointer;
}
.inventory-top{
    margin-top: 20px;

}
.inventory-top2{
    margin-top: 20px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.inventory-top2 .box:last-child{
    margin-left: 100px;
 }
 .inventory-top2 p{
     font-weight: bold;
     font-size: 22px;
     padding: 0%;
 }
.inventory-top span{
    display: block;
    color: #6C8496;
}
.header_container{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #DDECEF;
}
.header_main img {
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.inventory-body-section{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.inventory-body-left{
    width: 25%;
    padding: 60px;
}
.inventory-body-left img{
    width: 100%;
    max-height: 170px;
    object-fit: cover;
}
.inventory-body-right{
    width: 75%;
    padding: 40px 15px;

}   
.part-card{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.part1 span, .part2 span{
    color: #000;
    font-weight: bold;
}
.part1{
    width: 50%;
    border-bottom: #6C8496 1px solid;
}
.part2{
    padding-top: 35px;
    width: 50%;
    border-bottom: #6C8496 1px solid;
}
.part3{
    padding-top: 35px;
    width: 100%;
}
.part3 p{
padding: 0px;
line-height: 30px;
}

.backword{
    width: 30px;
    margin: 50px 20px;
    cursor: pointer;
}
.twoback{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: flex-start;
/*    justify-content: space-between;*/
}
.twoinspace {
    margin-left: 20px;
    color: #000 !important;
}
.edit_input{
    width: 24px !important;
    cursor: pointer !important;
}
.input_value{
    width: 70px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: transparent;
    margin-right: 10px;
}

.inventory-top2>.box{
    width: 20%;
    margin: 0;
}
.hunder{
    width: 100%;
}
/*Add New Product*/

.btn_added{
    background: #88bf4e;
    border: 1px solid #88bf4e;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    width: 80px;
    font-size: 16px;
    line-height: 20px;
}
.form_sec{
    width: 100%;
    margin: 20px 0;
}
.form_input{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1440px){
    .inventory-body-left{
        padding: 45px;
    }
}
@media screen and (max-width: 1024px){
    .twoback{
        flex-wrap: wrap;
    }
    .inventory-body-left{
        padding: 30px
    }
    .inventory-body-right{
        padding: 30px 15px;
    }
    .backword{
        margin: 30px 20px 10px;
    }
    .inventory-top{
        margin-top: 0px;
    }
}
@media screen and (max-width: 991px){
    .inventory-body-left {
        padding: 30px 20px;
    }
}
@media screen and (max-width: 800px){
    .backword{
        margin: 20px 20px 10px;
    }
}
@media screen and (max-width: 736px){
    .inventory-body-section{
        flex-wrap: wrap;
    }
    .inventory-body-left{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
    }
    .inventory-body-right{
        padding: 0px 15px 10px;
        width: 100%;
    }
    .inventory-body-left img{
        max-height: 300px;
        object-fit: contain;
    }
}
@media screen and (max-width: 667px){
    .inventory-body-left{
        height: auto;
    }
}
@media screen and (max-width: 550px){
    .part1,
    .part2,
    .part3{
        width: 100%;
    }
    .part1{
        border-bottom: transparent 1px solid;
    }
    .part2 {
        padding-top: 0px;
    }
    .part3 {
        padding-top: 15px;
    }
    .inventory-body-right{
        width: 100%;
    }
}
@media screen and (max-width:420px){
    .edit_input {
        width: 20px !important;
    }
    .full-height{
        height: auto;
        overflow-y: scroll;
    }
    .full-height{
        flex-direction: column;
    }
}























