
.table-box{
    padding-bottom: 10px;
    }
    .banner-icon{
        width: 125px;
        height: 63px;
        border-radius: 12px;
    }
    .cred-btn-box{
        width: 98%;
        margin: 25px auto;
    }
    .cred-list{
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    .banner-type-box{
        width: 100%;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    .modal-inner-body{
        width: 90%;
        margin: 0px auto;
    }
    .banner-option-box{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .image-upload-box{
        width: 100%;
        height: 100%;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #F1F5F8;
        border: 2px dashed #DFE0E1;
        border-radius: 10px;
        padding: 60px;
        cursor: pointer;
    }
    .upload_image{
        width: 70px;
        margin-bottom: 5px;
    }
    .upload-text{
        font:16px var(--semibold-font);
        color: #000;
        padding-bottom: 5px;
    }
    .image-resolution-note{
        font:13px var(--regular-font);
        color: #6C8496;
    }
    .uploed-image{
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    .popup-video-box{
        width: 100%;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    
    }
    .video-box{
      width: 100%;    
    }
    .video-desc-box{
      width: 100%;
      padding: 0px 20px;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .form__detail {
        position: relative;
        height: 48px;
    }
    .video-desc-box .form__detail:last-child{
        margin-bottom: 0px;
    }
    .email-icon {
        background-image: url(../assets/mail_icon.svg);
        background-repeat: no-repeat;
        background-position: 10px 15px;
        background-size: 24px;
    }
    
    /*new add*/
    /*----------------------------------*/
        .backarrow {
        width: 30px;
        margin-right: 10px;
        }
    
        .arrow_add {
        display: inline-block;
        font: 24px var(--medium-font);
        margin: 0;
        color: #000;
        letter-spacing: -0.75px;
        padding: 10px 0;
        cursor: pointer;
        }
        .addsegment{
        padding: 20px 0;
        margin: 0;
        font: 18px var(--medium-font);
        display: block;
        color: #00b9f5 !important;
        text-decoration: underline !important;
        cursor: pointer;
        }
        
    
        .dropdown {
        display: inline-block;
        position: relative;
        }
        .dd-button {
        display: inline-block;
        border: 1px solid #00b9f5;
        border-radius: 4px;
        padding: 10px 30px 10px 20px;
        font: 18px var(--medium-font);
        background-color: #fbfbfb;
        cursor: pointer;
        white-space: nowrap;
        color: #00b9f5;
        }
        .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        }
        .dd-button:hover {
        background-color: #eeeeee;
        }
        .dd-input {
        display: none;
        }
        .dd-menu {
        position: absolute;
        top: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0;
        margin: 2px 0 0 0;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        background-color: #ffffff;
        list-style-type: none;
        }
        .dd-input + .dd-menu {
        display: none;
        }
        .dd-input:checked + .dd-menu {
        display: block;
        }
        .dd-menu li {
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;
        }
        .dd-menu li:hover {
        background-color: #f6f6f6;
        }
        .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
        }
        .dd-menu li.divider{
        padding: 0;
        border-bottom: 1px solid #cccccc;
        }   
        .text_field{
            resize: none;
            min-height: 400px;
            width: 100%; 
            outline: none !important;
            box-shadow: none !important;
        }
    
    .pad20{
    padding: 20px;
    }
    .update-btn-box{
        width: 100%;
        text-align: right;
    }
    .btn-update{
        font-size: 18px;
        width: 150px;
        height: 45px;
        background-color: #01a8ff;
        color: #fff;
        border: none;
        margin: 20px auto;
    }
    
    
    
    
    
     .Policy_text
    {
        width: 90%;
    }
    .Policy_text p
    {
       font: 18px/32px var(--regular-font);
      letter-spacing: 0.5px;
      color: #000000cc;
    }
    .Policy_text span
    {
        color: #000;
        font-weight: 600;
    }
    
     .Policy_text h2
     {
        color: #000;
        font-weight: 600;
        padding-top: 10px;
        font-size: 22px;
        letter-spacing: 0.5px;
        margin: 0;
        padding-bottom: 10px;
     }
    
    .Policy_list
    {
        padding: 3px 20px;
       list-style: disc;
       padding-bottom: 20px;
    }
      .Policy_list li
      {
        font: 18px/32px var(--regular-font);
      }
    
    @media screen and (max-width:550px){
        .pad20 {
            padding: 0px 15px 20px;
        }
        .Policy_text{
            width: 100%;
        }
        .Policy_text p {
            font: 16px/22px var(--regular-font);
            text-align: justify;
            margin-bottom: 6px;
        }
        .Policy_list li {
            font: 16px/22px var(--regular-font);
            padding-bottom: 6px;
        }
        .header_container{
            padding: 20px 20px 0px;
        }
        .pad20{
            padding: 5px 20px 20px;
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
            
            